<div id="infinite-loop-content">
    {% include "archive-loop.twig" %}
</div>

{# 
    No use since we are using Jetpack infinite scroll 
    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
#}