{% extends "base.twig" %}

{% block content %}
    <div class="flex justify-center mb-8">
        <div class="flex flex-row p-0.5 text-gray-600 bg-gray-200 rounded-lg">
            {% for type in post_types %}
            {% set active = post_type is same as type.slug %}
                {% if active %}
                    <span class="flex-1 px-4 py-1 bg-white rounded-lg whitespace-nowrap">
                        {{ type.name }}
                    </span>
                {% else %}
                    <a href="{{ site_url }}/?type={{ type.slug }}" class="flex-1 px-4 py-1 whitespace-nowrap">
                        {{ type.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

	<div>
	    {% for type in post_types %}
        {% set active = post_type is same as type.slug %}
            {% if active %}
                {% if post_type is same as "" %}
                    {% include "archive-grid.twig" %}
                {% else %}
                    {% include "home-cards.twig" with {
                        cards: type.cards,
                        class: "w-48 h-48"
                    } %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
	   
{% endblock %}