<div class="w-max mx-auto grid grid-cols-2 gap-4">
    {% for card in cards %}
        <a href={{ card.link }} class="flex justify-center items-center rounded-lg shadow-lg hover:bg-gray-50 {{ class }}">
            <span class="text-gray-700 text-center">
                {{ card.title }}
            </span>
        </a>
    {% endfor %}
</div>