<div class="relative transition ease-in-out transform hover:scale-110">
    <div class="absolute h-full w-full rounded-xl bg-gray-300 transform -rotate-6"></div>
    <div class="absolute h-full w-full rounded-xl shadow-md bg-gradient-to-r from-blue-500 to-green-400"></div>
    <a class="relative flex flex-row items-center px-4 py-1 space-x-2 text-xl text-white"  href="{{site.url}}" rel="home">
    	<i class="fa fa-plus"></i>
    	<span>{{site.name}}</span>
    </a>
</div>