<a class="flex flex-row items-center px-4 py-1 space-x-2 text-xl bg-gradient-to-r from-green-400 via-blue-500 to-green-400 bg-transition text-white rounded-full shadow-lg"  href="{{site.url}}" rel="home">
	<i class="fa fa-plus"></i>
	<span>{{site.name}}</span>
</a>