{% extends "single.twig" %}

{% block subtitle %}
    <div class="text-gray-800 italic">
        {{ post.nom_latin }}
    </div>
{% endblock %}

{% block post %}
    {{ parent() }}
    <div class="mb-1 text-lg font-bold">
        Précautions générales pour les huiles essentielles
    </div>
    <div class="mb-4 space-y-2">
        {% for precaution in post.precautions_he %}
            <div class="px-4 py-2 rounded-md shadow-inner bg-blue-50 text-blue-900">
                {{ precaution }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
